# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configurations and extensions used by VS Code.
# It is recommended to check this folder in to share settings with other developers.
# .vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
**/ios/Flutter/Ephemeral/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/flutter_settings.json
**/ios/ServiceDefinitions.json
**/pubspec-override.yaml
**.dart_tool/
**.flutter-plugins
**.flutter-plugins-dependencies
**.packages
**.pub-cache/
**.pub/
**build/

# Android related
**/android/**/generated/
**/android/gen/
**/android/local.properties
**/android/out/
**/android/sdk.dir
**/android/vendor/

# iOS/macOS related
**/ios/**/config.h
**/ios/**/module.modulemap
**/ios/**/Pods/

# Environment variables
.env
